*{
    margin:1px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.resume{
    padding: 10px 15px;
    background-color: white;
    border: 1px solid green;
}
.banner-container{
    width: 100%;
    height: 70vh;
    background-color: rgb(161, 219, 161);
    border-radius: 10px;
    align-items: center;
    display:flex;
    justify-content: space-around;

}

.connect{
    padding: 10px 15px;
    background-color: rgb(18, 69, 18);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.banner-title{
    color: gray;
}
.banner-img{
    width: 350px;

}
.future-container{
    background-color: gainsboro;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}
.box{
    /* text-align: justify; */
    /* width: 400px; */
    /* height: 250px; */
    padding: 20px;
    border-radius: 7px;

}
.digital-box{
    background-color: skyblue;
}
.green-box{
    background-color:greenyellow;
}
.modern-box{
    background-color: bisque;  
}
.box-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.learn-1{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    margin-top:10px;
}
.learn-2{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color:green;
    margin-top:10px;
}
.learn-3{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color:burlywood;
    margin-top:10px;
}
.recent-news{
    background-color: gainsboro;
    margin-top: 30px;
    padding: 20px;

}
.modern-box{
    padding: 20px;
}
.box1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    box-shadow: 4px 4px 8px;
background-color: white;
text-align: justify;
border-radius: 10px;
}
.box2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    box-shadow: 4px 4px 8px;
background-color: white;
text-align: justify;
border-radius: 10px;
}

.read{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color:green;
    margin-top:10px;

}
.img{
    border-radius: 5px;
    margin:20px 20px 20px 20px;
    
}
.title{
    color: blue;

}
.description{
    color: gray;
}
.box1-right{
    margin:20px 20px 20px 20px;
}
.box2-left{

    margin:20px 20px 20px 20px;
}
.donate{
    background-color: gainsboro;
    text-align: center;
    padding: 50px;
    margin-top: 30px;
    justify-content: center;
    border-radius: 10px;
}
.card{
    /* height: 50px; */
    /* width: 150px; */
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 8px 8px solid white;
    padding: 30px 40px;

    

}
.card-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    
}
.card-2{
    background-color: greenyellow;
 
    border-radius: 5px;
    box-shadow: 3px 3px 8px 8px solid white;


}
.card h3{
    margin-bottom: 10px;
    font-size: bold;
}
.input [type=text] {
    height: 50px;
    width: 800px;
    background-color: white;
    border: none;
    justify-content: center;
    outline: none;
    text-align: center;
}
.btn{
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color:green;
    margin-top:10px;
    color:white
}
.sub{
    background-color: rgb(160, 196, 160);
    text-align: center;
    padding: 50px;
    margin-top: 30px;
    justify-content: center;
    border-radius: 10px;

}
.input-1 [type=text]{
    height: 50px;
    width: 800px;
    background-color: white;
    border: none;
    justify-content: center;
    outline: none;
    text-align: center;

}